.heading{
    padding-top: 10px;
    margin: auto;
    text-align: center;
}

.mapelement{
    margin: auto;
    padding: 1em;
    margin-top: 20px;
    width: 85%;
    height: 500px;
    border-radius: 12px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}