body{
    background-color: rgba(240, 240, 242,60);
    margin: auto;
}
li{
    list-style: none;
    padding-left: 1.5rem;
}
.container{
    margin-left: 5%;
    padding: 5px;
    background-color: lightblue;
    border-radius: 5px;
    border: 1px solid lightgray;
    width: fit-content;
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 3s ease-in-out infinite;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-15px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}